body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebar {
  height: 100vh;
  width: 25vw;
  justify-items: flex-start;
  border: blue 1px solid;
  display:hidden;
}

.sidebar-control {
  background-color: lightblue;
}

.sidebar-button {
  width: 70%;
}

.social-button {
  width: 10%;
  margin: 5%;
}