.square {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 60px;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}
